<!-- 
// Creator: Bradley Lamitie
// Date Created: 
// Date Last Edited: 
// Purpose: 
// TODO: Add link to image for downloading.
//
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>AESImage Landing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Thanks for using the AESImage Encryptor/Decryptor!</h1>
	<h2>You can download the encrypted file by clicking the image below</h2>
	<br>
	<br>
	<img src = "testImage.jpeg" alt="AESImage"> 
</body>
</html>

