<!-- 
// Creator: Bradley Lamitie
// Date Created: 
// Date Last Edited: 
// Purpose: 
// TODO: test inputs and ensure file is selected and key is entered and the correct length.
//
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <title>AESImage Landing</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<h1>Welcome to the AESImage Encryptor/Decryptor</h1>
		<h2>Please enter a 128-bit hexadecimal key and an image. When you are done, please press Submit.</h2>
		<br>
		<br>
		<form action="/uploadData" method="post" enctype="multipart/form-data">
			<h3>Type in a 128-bit hexadecimal(32 characters) key here: </h3>
			<h4>Hexadecimal characters include (0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F)</h4>
			<h5>Some Examples:  0123456789ABCDEF0123456789ABCDEF , 00000000000000000000000000000000</h5>
			<input type="text" name = "key" style="width: 260px;">
			<br>                                     
			<h3>Select an image by pressing the choose file button and navigating to the image:</h3>
			<input type="file" name="image" accept="image/gif, image/jpeg, image/png" value="fileupload" id="fileupload">
			<br>
			<br>
			<input type="radio" name="AESType" value="Encrypt" checked>Encrypt<br>
			<input type="radio" name="AESType" value="Decrypt" >Decrypt<br>
			<br>
			<br>
			<input type="submit" value="Submit"/>
		</form>
		<h4>NOTE: It will take some time to encrypt/decrypt your image, you will be redirected as soon as it's done.</h4>
	</body>
</html>

