<!-- 
// AESImageLandingView.html
// Creator: Bradley Lamitie
// Date Created: 5/04/2019
// Date Last Edited: 5/12/2019
// Purpose: This page serves as a landing for the AES image application.
// From here the user can select their key and image and also choose to encrypt
// or decrypt the image. This page redirects to AESImageDownload, where the 
// user can download the encrypted/decrypted image.
//
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>AESImage Landing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body  style="text-align:center;">
    <h1>Welcome to the AESImage Encryptor/Decryptor</h1>
    <h2>Please enter a 128-bit hexadecimal key and an image. When you are done,
     please press Submit.</h2>
    <form action="/uploadData" method="post" enctype="multipart/form-data">
      <h3>Type in a 16 character key below(128-bit): </h3>
      <h4>The key will be translated to hexadecimal format</h4>
      <input type="text" name = "key" style="width: 260px;" pattern=".{16,16}"
       required title="16 characters">
      <br>                                     
      <h3>Select an image by pressing the choose file button and navigating to 
      the image:</h3>
      <h4> NOTE: The image must be 1MB or less</h4>
      <input type="file" name="image" accept="image/jpeg, image/png" 
      value="fileupload" id="fileupload" 
      required title="image must be chosen(jpg or png)">
      <br>
      <h3>Please select how you'd like to process your image</h3>
      <input type="radio" name="AESType" value="Encrypt" checked>Encrypt 
      <input type="radio" name="AESType" value="Decrypt" >Decrypt<br>
      <br>
      <input type="submit" value="Submit"/>
    </form>
    <h4>NOTE: It will take some time to encrypt/decrypt your image, you will be 
    redirected as soon as it's done.</h4>
  </body>
</html>

